body{
    
    padding: 0 ;
}

#navbar {
    background-color: rgb(168, 180, 32)!important;
    color: #2C2C2C !important;
}
/*hero*/
#hero {
    background: url(../images/bridge2.jpg) no-repeat center center/cover ;
    background-size: cover ;
    height: 100vh ;
    display: flex ;
    justify-content: center;
    align-items: center;
    color: #2C2C2C ;
}
/*hero image btn sizing*/
.btn{
    width:100px;
    height: 30px;
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: end;
    margin:0 auto;
}
/*middle image to make round*/
#middle{
    border-radius: 50%;
    height: 200px;;
}
/*make all the images the same size*/
.image-size{
    height: 400px;
}
/*make all the services images the same size*/
.services{
    font-size: 14px;
}
.service-image{
    height: 200px;
}
#footer {
    background-color: rgb(168, 180, 32)!important;
    color: #2C2C2C ;
    width: 100%;
    position:sticky;
    bottom: 0;
    
}