.journal-area {
    margin-top: 2px;
}

.journal-textarea {
    width: 100%;
    height: 300px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ced4da;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cta-button {
    margin-top: 20px;
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border-radius: 10px;
}

body {
    background-color: aqua;
}

footer {
    background-color: rgb(199, 163, 163);
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Custom styles to override Bootstrap */

/* Right-align navigation links on large devices */
@media (min-width: 992px) {
    .navbar-nav {
        margin-left: auto;
    }
}

/* Show navigation links on tablets and larger devices */
@media (min-width: 768px) {
    .navbar-collapse {
        display: flex !important;
        justify-content: flex-end;
    }
}

/* Dropdown navigation on mobile devices */
@media (max-width: 767px) {
    .navbar-nav {
        display: flex;
        flex-direction: column;
    }
}